In [5]:
import pandas as pd

regseason = pd.read_csv("../data/regseason_yearly_stats.csv")
regseason.head()

  SEASON_ID  PLAYER_AGE  GP  REB  AST   PTS
0   1996-97        18.0  71  1.9  1.3   7.6
1   1997-98        19.0  79  3.1  2.5  15.4
2   1998-99        20.0  50  5.3  3.8  19.9
3   1999-00        21.0  66  6.3  4.9  22.5
4   2000-01        22.0  68  5.9  5.0  28.5

In [10]:
# Compute total number of points per season
regseason["TOTAL_PTS"] = regseason["GP"] * regseason["PTS"]

# sort by total points
regseason_sorted = regseason.sort_values(by="TOTAL_PTS", ascending=False)

# Get the season with the highest total points
row_max_points = regseason_sorted.head(1)
season_max_points = row_max_points["SEASON_ID"].values[0]
print(f"The season with the highest total points is {season_max_points}")

# Get the season with the lowest total points
row_min_points = regseason_sorted.tail(1)
season_min_points = row_min_points["SEASON_ID"].values[0]
print(f"The season with the highest total points is {season_min_points}")

The season with the highest total points is 2005-06
The season with the highest total points is 2013-14

In [11]:
total_career_points = regseason["TOTAL_PTS"].sum()
total_career_games = regseason["GP"].sum()
avg_career_points = total_career_points / total_career_games
print(
    f"The points per game, averaged throughout his whole career, is: {round(avg_career_points,2)} pts."
)

The points per game, averaged throughout his whole career, is: 24.99 pts.

In [12]:
regseason["TOTAL_REB"] = regseason["GP"] * regseason["REB"]
total_career_rebounds = regseason["TOTAL_REB"].sum()
avg_career_rebounds = total_career_rebounds / total_career_games
print(
    f"The rebounds per game, averaged throughout his whole career, is: {round(avg_career_rebounds,2)} reb."
)

The rebounds per game, averaged throughout his whole career, is: 5.24 reb.

In [14]:
regseason["TOTAL_AST"] = regseason["GP"] * regseason["AST"]
total_career_assists = regseason["TOTAL_AST"].sum()
avg_career_assists = total_career_assists / total_career_games
print(
    f"The assists per game, averaged throughout his whole career, is: {round(avg_career_assists,2)} ast."
)

The assists per game, averaged throughout his whole career, is: 4.69 ast.

### Bonus

In [16]:
import pandas as pd

postseason = pd.read_csv("../data/postseason_yearly_stats.csv")
postseason.head()

  SEASON_ID  PLAYER_AGE  GP  REB  AST   PTS
0   1996-97        18.0   9  1.2  1.2   8.2
1   1997-98        19.0  11  1.9  1.5   8.7
2   1998-99        20.0   8  6.9  4.6  19.8
3   1999-00        21.0  22  4.5  4.4  21.1
4   2000-01        22.0  16  7.3  6.1  29.4

In [18]:
postseason.dtypes

SEASON_ID      object
PLAYER_AGE    float64
GP              int64
REB           float64
AST           float64
PTS           float64
dtype: object

In [66]:
df = df_reg_season[["SEASON_ID"]].copy()
df["reg_season_avg_points"] = df_reg_season[["PTS"]]
df["post_season_avg_points"] = df_post_season[["PTS"]]
df.head(10)

  SEASON_ID  reg_season_avg_points  post_season_avg_points
0   1996-97                    7.6                     8.2
1   1997-98                   15.4                     8.7
2   1998-99                   19.9                    19.8
3   1999-00                   22.5                    21.1
4   2000-01                   28.5                    29.4
5   2001-02                   25.2                    26.6
6   2002-03                   30.0                    32.1
7   2003-04                   24.0                    24.5
8   2004-05                   27.6                    27.9
9   2005-06                   35.4                    32.8

In [41]:
import numpy as np

# join regseason and postseason df on 'SEASON_ID'
regseason_pts = regseason.set_index("SEASON_ID")[["PTS"]]
postseason_pts = postseason.set_index("SEASON_ID")[["PTS"]]
comparison = regseason_pts.join(
    postseason_pts, lsuffix="_regseason", rsuffix="_postseason"
)

# create new column comparing the regseason and postseason points
comparison["BETTER_IN_POSTSEASON"] = (
    comparison["PTS_regseason"] > comparison["PTS_postseason"]
)

# When 'PTS_postseason' is nan set 'BETTER_IN_POSTSEASON' to nan
comparison.loc[comparison["PTS_postseason"].isna(), "BETTER_IN_POSTSEASON"] = np.nan

comparison

/tmp/ipykernel_34960/693493580.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  comparison.loc[

           PTS_regseason  PTS_postseason BETTER_IN_POSTSEASON
SEASON_ID
1996-97              7.6             8.2                False
1997-98             15.4             8.7                 True
1998-99             19.9            19.8                 True
1999-00             22.5            21.1                 True
2000-01             28.5            29.4                False
2001-02             25.2            26.6                False
2002-03             30.0            32.1                False
2003-04             24.0            24.5                False
2004-05             27.6             NaN                  NaN
2005-06             35.4            27.9                 True
2006-07             31.6            32.8                False
2007-08             28.3            30.1                False
2008-09             26.8            30.2                False
2009-10             27.0            29.2                False
2010-11             25.3            22.8                 True
2011-12             27.9            30.0                False
2012-13             27.3             NaN                  NaN
2013-14             13.8             NaN                  NaN
2014-15             22.3             NaN                  NaN
2015-16             17.6             NaN                  NaN